.contact {
    height: 35vh;
    width: 100%;
    background: #383838; 
    margin-top: 50px;
    text-align: center;
    

    h1 {
        color: white;
        padding-top: 50px;
    }

    p {
        color: #848484;
    }
    a {
        text-decoration: none;
        color: $accentBlue;
    }

    .icon {
        color: white;
        font-size: 3rem;
        margin: 20px 20px;
    }

    .github:hover {
        color: black;
        transition: color 0.5s ease;
    }

    .linkedin:hover {
        color: #0073b0;
        transition: color 0.5s ease;
    }

    .mail:hover {
        color: #dc4d41;
        transition: color 0.5s ease;
    }
}


/************ MEDIA QUERIES ************/    


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) {

    //CSS
    
    
    }
    
    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
    
    @media (min-width: 481px) {
    
    //CSS

    
    
    }
    
       
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) {
    
        //CSS
        .contact {
            
            .icon {
                font-size: 6rem;
                
            }
        }
    
    }
      
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 1024px) {
    
        //CSS

    
    }
    
    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
      
    @media (min-width: 1280px) {
    
        //CSS
    
    }
    
    
    
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
    
    @media (min-width: 1281px) {
      
        //CSS
      
      
        
    }