/*********** JUMBOTRON ***********/

.jumboContainer{
    height: 65vh;
    background: #0b0c10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;


    .bubbles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .bubble {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
        opacity: 0.9;
        animation: flying 10s infinite ease-in;
    }

    .bubble:nth-child(1) {
        width: 7px;
        height: 7px;
        left: 10%;
        animation-duration: 16s;
        background: $accentBlue;
    }

    .bubble:nth-child(2) {
        width: 6px;
        height: 6px;
        left: 20%;
        animation-duration: 20s;
        
    }

    .bubble:nth-child(3) {
        width: 16px;
        height: 16px;
        left: 35%;
        animation-duration: 25s;
        background: $accentBlue;
        
    }

    .bubble:nth-child(4) {
        width: 5px;
        height: 5px;
        left: 50%;
        animation-duration: 40s;
        animation-delay: 0s;
    }

    .bubble:nth-child(5) {
        width: 2px;
        height: 2px;
        left: 55%;
        animation-duration: 35s;
        background: $accentBlue;
        
    }

    .bubble:nth-child(6) {
        width: 8px;
        height: 8px;
        left: 65%;
        animation-duration: 11s;
    }


    .bubble:nth-child(7) {
        width: 10px;
        height: 10px;
        left: 75%;
        animation-duration: 31s;
        background: $accentBlue;
    }


    .bubble:nth-child(8) {
        width: 12px;
        height: 12px;
        left: 80%;
        animation-duration: 22s;
    }


    .bubble:nth-child(9) {
        width: 9px;
        height: 9px;
        left: 70%;
        animation-duration: 18s;
        background: $accentBlue;
    }

    .bubble:nth-child(10) {
        width: 13px;
        height: 13px;
        left: 85%;
        animation-duration: 30s;
    }

    .bubble:nth-child(11) {
        width: 10px;
        height: 10px;
        left: 10%;
        animation-duration: 40s;
        background: $accentPink;
    }

    .bubble:nth-child(12) {
        width: 7px;
        height: 7px;
        left: 25%;
        animation-duration: 15s;
        background: $accentPink;
    }

    .bubble:nth-child(13) {
        width: 2px;
        height: 2px;
        left: 50%;
        animation-duration: 20s;
        background: $accentPink;
    }

    .bubble:nth-child(14) {
        width: 5px;
        height: 5px;
        left: 75%;
        animation-duration: 35s;
        background: $accentPink;
    }

    .bubble:nth-child(15) {
        width: 9px;
        height: 9px;
        left: 90%;
        animation-duration: 32s;
        background: $accentPink;
    }


    @keyframes flying {
        0%{
            bottom: -100px;
            transform: translateX(0);

        }

        50% {
            transform: translateX(100px);
        }

        100%{
            bottom: 1080px;
            transform: translateX(-200px);
        }
    }
    
}

.name {
    white-space: nowrap;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    z-index: 3;
}

.sub {
    line-height: 25px;
    white-space: nowrap;
    text-align: center;
    color: white;
    z-index: 3;
    
}



/************ MEDIA QUERIES ************/    


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

//CSS

.jumboContainer {
    height: 100vh;
}


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) {

//CSS

.jumboContainer {
    height: 94vh;
}


}

   
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {

    //CSS



}
  
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 1024px) {

    //CSS


}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
  
@media (min-width: 1280px) {

    //CSS

}



/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
  
  
    
}