/*********** JUMBOTRON ***********/

.jumboContainer{
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(33,33,33,.5), rgba(33,33,33,.8)), url(../images/code.jpg);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.font {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.name {
    white-space: nowrap;
    font-size: 3rem;
    text-align: center;
}

.sub {
    line-height: 25px;
    white-space: nowrap;
    text-align: center;
}