body {
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #0b0c10;
    z-index: 999;


    .nav-links {
        display: flex;
        z-index: 4;

        li {
            list-style-type: none;
            padding: 10px;
            text-transform: uppercase;
            

            a {
                text-decoration: none;
                color: white;
                letter-spacing: 3px;
                font-weight: bold;
            }

            a:hover{
                color: $accentBlue;
                transition: color 0.5s ease;
                
            }
        }


    }

    .burger {
        cursor: pointer;
        margin-right: 50px;
        z-index: 4;
        
    }


    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }


    
}




/************ MEDIA QUERIES ************/    

    
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
    
    @media screen and (max-width: 768px) {
    
        //CSS

        body {
            overflow-x: hidden;
        }
        
        nav {

            .logo {

                img {
                    height: 75px;
                    width: 75px;
                    margin-left: 50px;
                }
                
            }

            .nav-links {
                position: absolute;
                height: 100vh;
                width: 50%;
                top: 0;
                right: 0;
                background-color: #313131;
                z-index: 4;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;

                li {
                    opacity: 0;
                    letter-spacing: 2px;
                    margin-top: 80px;
                    
                }

                .underline {
                    background: $accentBlue;
                    border: $accentBlue;
                }

            }

            .nav-active {
                transform: translateX(0%);
            }
        }


        @keyframes navLinkFade {
            from {
                opacity: 0;
                transform: translateX(50px)
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }


    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
        transition-duration: 0.5s;
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        transition-duration: 0.5s;
    }




 
    }

    @media screen and (min-width: 768px) {
        .burger {
            display: none;
        }

        .nav-links{
            margin-right: 50px;
        }

        nav{
            .logo{
                img{
                    height: 75px;
                    width: 75px;
                    margin-left: 50px;
                }
            }
        }
    }
      
   