.buttonStyling {
    display: flex;
    justify-content: center;

    button {
        margin: 20px 20px 0 20px;
        padding: 10px;
        width: 150px;
        font-family: $font;
        background: white;
        color: $accentBlue;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid $accentBlue;
        outline: none;

    }


    button:hover {
        color: white;
        background: $accentBlue;
        transition: background 1s ease;
        cursor: pointer;
    }

    #codingbtn {
        background: $accentBlue;
        color: white;
    }


}

.project {
    margin-top: 10px;


    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: $padding-fix;

    }
    
    .card {
        
        width: 450px;
        height: 100%;
        margin: 10px .5%;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        .cardTop {
            background-size: cover;
            background-position: top;
            height: 300px;
            width: 100%;
        }
  
        #jayBoyce {
            background-image: url(../images/jayBoyceScreenshot.png);
        }

        #pokemon {
            background-image: url(../images/pokemonScreenshot.png);
        }

        #basketball {
            background-image: url(../images/basketballScreenshot.png);

        }

        #nba{
            background-image: url(../images/nbaScreenshot.png);

        }

        .cardBottom{
            color: black;
            background: white;
            height: 380px;
            position: relative;
            border-top: 2px solid $accentBlue;

            h3 {
                margin-top: 15px;
                margin-left: 10px;
                font-size: 30px;
                font-weight: 400;
            }
            
            p {
                margin: 0 10px;
            }

            ul {
                margin: 5px 30px;
            }

            li {
                padding: 5px;
            }
            
            
            .git {
                color: $accentBlue;
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 5px 60px;
            }

            i:hover {
                
                transform: translateY(-3px);
                
                
            }

            .lap {
                color: $accentBlue;
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 5px 10px;
            }

        }
        
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }


}




/************ MEDIA QUERIES ************/    


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    //CSS
    
    
    
    
    }
    
    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
    
    @media (min-width: 481px) {
    
    //CSS
    
    
    
    
    }
    
       
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) {
        
        .project {
            .card {
                .cardBottom{
                    height: 300px;
                }
            }
        }
   
        
    
    
    }
      
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 1024px) {
    
        //CSS
        
    
    }
    
    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
      
    @media (min-width: 1280px) {
    
        //CSS
    
    }
    
    
    
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
    
    @media (min-width: 1281px) {
      
        //CSS
      
      
        
    }