.whatContainer {
    text-align: center;
    background: #f0f0f0;
    padding: $padding-fix;
    

    h1 {
        padding-top: 90px;
    }
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h3{
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .list {
        padding-bottom: 90px;

        h3 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            text-align: center;
            
        }
    }
    
}





/************ MEDIA QUERIES ************/    


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) {

    //CSS
    
    
    
    }
    
    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
    
    @media (min-width: 481px) {
    
        //CSS
    
    }
    
       
    /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) {
    
        //CSS
        
    
    
    }
      
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 1024px) {
    
        //CSS
        
    
    }
    
    /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
      
    @media (min-width: 1280px) {
    
        //CSS
    
    }
    
    
    
    /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
    
    @media (min-width: 1281px) {
      
        //CSS
      
      
        
    }