nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #1f2833;
}

nav h4 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: white;
  letter-spacing: 5px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-links li {
  list-style-type: none;
  padding: 10px;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
}

nav .burger {
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/************ MEDIA QUERIES ************/
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    background-color: #1f2833;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-links li {
    opacity: 0;
    font-size: 24px;
    letter-spacing: 2px;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

/*********** JUMBOTRON ***********/
.jumboContainer {
  height: 65vh;
  background: #0b0c10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.jumboContainer .bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}

.jumboContainer .bubble {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  -webkit-animation: flying 10s infinite ease-in;
          animation: flying 10s infinite ease-in;
}

.jumboContainer .bubble:nth-child(1) {
  width: 7px;
  height: 7px;
  left: 10%;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  background: #14a098;
}

.jumboContainer .bubble:nth-child(2) {
  width: 6px;
  height: 6px;
  left: 20%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

.jumboContainer .bubble:nth-child(3) {
  width: 16px;
  height: 16px;
  left: 35%;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  background: #14a098;
}

.jumboContainer .bubble:nth-child(4) {
  width: 5px;
  height: 5px;
  left: 50%;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.jumboContainer .bubble:nth-child(5) {
  width: 2px;
  height: 2px;
  left: 55%;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  background: #14a098;
}

.jumboContainer .bubble:nth-child(6) {
  width: 8px;
  height: 8px;
  left: 65%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.jumboContainer .bubble:nth-child(7) {
  width: 10px;
  height: 10px;
  left: 75%;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  background: #14a098;
}

.jumboContainer .bubble:nth-child(8) {
  width: 12px;
  height: 12px;
  left: 80%;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}

.jumboContainer .bubble:nth-child(9) {
  width: 9px;
  height: 9px;
  left: 70%;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  background: #14a098;
}

.jumboContainer .bubble:nth-child(10) {
  width: 13px;
  height: 13px;
  left: 85%;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.jumboContainer .bubble:nth-child(11) {
  width: 10px;
  height: 10px;
  left: 10%;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background: #cb2d6f;
}

.jumboContainer .bubble:nth-child(12) {
  width: 7px;
  height: 7px;
  left: 25%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  background: #cb2d6f;
}

.jumboContainer .bubble:nth-child(13) {
  width: 2px;
  height: 2px;
  left: 50%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background: #cb2d6f;
}

.jumboContainer .bubble:nth-child(14) {
  width: 5px;
  height: 5px;
  left: 75%;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  background: #cb2d6f;
}

.jumboContainer .bubble:nth-child(15) {
  width: 9px;
  height: 9px;
  left: 90%;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  background: #cb2d6f;
}

@-webkit-keyframes flying {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes flying {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.name {
  white-space: nowrap;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  z-index: 3;
}

.sub {
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  color: white;
  z-index: 3;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .jumboContainer {
    height: 100vh;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) {
  .jumboContainer {
    height: 50vh;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) {
  .jumboContainer {
    height: 60vh;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 1024px) {
  .jumboContainer {
    height: 80vh;
  }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
/************ ABOUT ************/
.aboutContainer {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 80vh;
  padding: 0 5%;
}

.btn {
  max-width: 200px;
  height: 50px;
  font-size: 1rem;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.headings {
  font-size: 2rem;
  color: #848484;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.underline {
  margin-top: -40px;
  margin-bottom: 25px;
  width: 75px;
  background: #14a098;
  border: #14a098;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  color: #888;
  font-size: 1rem;
  margin-bottom: 50px;
  margin: 0 auto;
  text-align: left;
  line-height: 25px;
  max-width: 800px;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) {
  .aboutContainer {
    height: 50vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.project {
  margin-top: 50px;
}

.project .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5%;
}

.project .card {
  width: 450px;
  height: 100%;
  margin: 10px .5%;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project .card .cardTop {
  background-size: cover;
  background-position: top;
  height: 300px;
  width: 100%;
}

.project .card #jayBoyce {
  background-image: url(../images/jayBoyceScreenshot.png);
}

.project .card #pokemon {
  background-image: url(../images/pokemonScreenshot.png);
}

.project .card #basketball {
  background-image: url(../images/basketballScreenshot.png);
}

.project .card #todo {
  background-image: url(../images/todoScreenshot.png);
}

.project .card .cardBottom {
  color: black;
  background: white;
  height: 300px;
  position: relative;
}

.project .card .cardBottom h3 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

.project .card .cardBottom p {
  margin: 0 10px;
}

.project .card .cardBottom ul {
  margin: 5px 30px;
}

.project .card .cardBottom li {
  padding: 5px;
}

.project .card .cardBottom .git {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px 10px;
}

.project .card .cardBottom i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.project .card .cardBottom .lap {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px 80px;
  font-size: 55px;
}

.project .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.whatContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  padding: 0 5%;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) {
  .whatContainer {
    height: 50vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.contact {
  height: 35vh;
  width: 100%;
  background: #383838;
  margin-top: 50px;
  text-align: center;
}

.contact h1 {
  color: white;
  padding-top: 50px;
}

.contact p {
  color: #848484;
}

.contact a {
  text-decoration: none;
  color: #14a098;
}

.contact .icon {
  color: white;
  font-size: 3rem;
  margin: 20px 20px;
}

.contact .github:hover {
  color: black;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact .linkedin:hover {
  color: #0073b0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact .mail:hover {
  color: #dc4d41;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) {
  .contact .icon {
    font-size: 6rem;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.footer {
  height: 80px;
  width: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: white;
}

.footer span {
  color: #848484;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
}
/*# sourceMappingURL=styles.css.map */