body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #0b0c10;
  z-index: 2000;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

nav .nav-links li {
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
}

nav .nav-links li a:hover {
  color: #14a098;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

nav .burger {
  cursor: pointer;
  margin-right: 50px;
  z-index: 4;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/************ MEDIA QUERIES ************/
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .logo img {
    height: 75px;
    width: 75px;
    margin-left: 50px;
  }
  nav .nav-links {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    background-color: #313131;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-links li {
    opacity: 0;
    letter-spacing: 2px;
    margin-top: 80px;
  }
  nav .nav-links .underline {
    background: #14a098;
    border: #14a098;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav-links {
    margin-right: 50px;
  }
  nav .logo img {
    height: 75px;
    width: 75px;
    margin-left: 50px;
  }
}

/*********** JUMBOTRON ***********/
.jumboContainer {
  height: 100vh;
  background: #0b0c10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*     .bubbles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .bubble {
        position: absolute;
        bottom: 0;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
        opacity: 0.9;
        animation: flying 10s infinite ease-in;
    }

    .bubble:nth-child(1) {
        width: 7px;
        height: 7px;
        left: 10%;
        animation-duration: 16s;
        background: $accentBlue;
    }

    .bubble:nth-child(2) {
        width: 6px;
        height: 6px;
        left: 20%;
        animation-duration: 20s;
        
    }

    .bubble:nth-child(3) {
        width: 16px;
        height: 16px;
        left: 35%;
        animation-duration: 25s;
        background: $accentBlue;
        
    }

    .bubble:nth-child(4) {
        width: 5px;
        height: 5px;
        left: 50%;
        animation-duration: 40s;
        animation-delay: 0s;
    }

    .bubble:nth-child(5) {
        width: 2px;
        height: 2px;
        left: 55%;
        animation-duration: 35s;
        background: $accentBlue;
        
    }

    .bubble:nth-child(6) {
        width: 8px;
        height: 8px;
        left: 65%;
        animation-duration: 11s;
    }


    .bubble:nth-child(7) {
        width: 10px;
        height: 10px;
        left: 75%;
        animation-duration: 31s;
        background: $accentBlue;
    }


    .bubble:nth-child(8) {
        width: 12px;
        height: 12px;
        left: 80%;
        animation-duration: 22s;
    }


    .bubble:nth-child(9) {
        width: 9px;
        height: 9px;
        left: 70%;
        animation-duration: 18s;
        background: $accentBlue;
    }

    .bubble:nth-child(10) {
        width: 13px;
        height: 13px;
        left: 85%;
        animation-duration: 30s;
    }

    .bubble:nth-child(11) {
        width: 10px;
        height: 10px;
        left: 10%;
        animation-duration: 40s;
        background: $accentPink;
    }

    .bubble:nth-child(12) {
        width: 7px;
        height: 7px;
        left: 25%;
        animation-duration: 15s;
        background: $accentPink;
    }

    .bubble:nth-child(13) {
        width: 2px;
        height: 2px;
        left: 50%;
        animation-duration: 20s;
        background: $accentPink;
    }

    .bubble:nth-child(14) {
        width: 5px;
        height: 5px;
        left: 75%;
        animation-duration: 35s;
        background: $accentPink;
    }

    .bubble:nth-child(15) {
        width: 9px;
        height: 9px;
        left: 90%;
        animation-duration: 32s;
        background: $accentPink;
    }


    @keyframes flying {
        0%{
            bottom: -100px;
            transform: translateX(0);

        }

        50% {
            transform: translateX(100px);
        }

        100%{
            bottom: 1080px;
            transform: translateX(-200px);
        }
    } */
}

.name {
  white-space: nowrap;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  z-index: 3;
}

.sub {
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  color: white;
  z-index: 3;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
/************ ABOUT ************/
.aboutContainer {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 5%;
}

.btn {
  max-width: 200px;
  height: 50px;
  font-size: 1rem;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.headings {
  font-size: 2rem;
  color: #848484;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-top: 80px;
}

.underline {
  margin-top: -40px;
  margin-bottom: 25px;
  width: 75px;
  background: #14a098;
  border: #14a098;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  color: #888;
  font-size: 1rem;
  margin-bottom: 50px;
  margin: 0 auto;
  text-align: left;
  line-height: 25px;
  max-width: 800px;
  padding-bottom: 80px;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) {
  .aboutContainer {
    margin-top: 80px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.buttonStyling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonStyling button {
  margin: 20px 20px 0 20px;
  padding: 10px;
  width: 150px;
  font-family: "Raleway", sans-serif;
  background: white;
  color: #14a098;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #14a098;
  outline: none;
}

.buttonStyling button:hover {
  color: white;
  background: #14a098;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  cursor: pointer;
}

.buttonStyling #codingbtn {
  background: #14a098;
  color: white;
}

.project {
  margin-top: 10px;
}

.project .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5%;
}

.project .card {
  width: 450px;
  height: 100%;
  margin: 10px .5%;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project .card .cardTop {
  background-size: cover;
  background-position: top;
  height: 300px;
  width: 100%;
}

.project .card #jayBoyce {
  background-image: url(../images/jayBoyceScreenshot.png);
}

.project .card #pokemon {
  background-image: url(../images/pokemonScreenshot.png);
}

.project .card #basketball {
  background-image: url(../images/basketballScreenshot.png);
}

.project .card #nba {
  background-image: url(../images/nbaScreenshot.png);
}

.project .card .cardBottom {
  color: black;
  background: white;
  height: 380px;
  position: relative;
  border-top: 2px solid #14a098;
}

.project .card .cardBottom h3 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
}

.project .card .cardBottom p {
  margin: 0 10px;
}

.project .card .cardBottom ul {
  margin: 5px 30px;
}

.project .card .cardBottom li {
  padding: 5px;
}

.project .card .cardBottom .git {
  color: #14a098;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px 60px;
}

.project .card .cardBottom i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.project .card .cardBottom .lap {
  color: #14a098;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px 10px;
}

.project .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
@media (min-width: 768px) {
  .project .card .cardBottom {
    height: 300px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
#designprojects {
  display: none;
}

.card #ftr {
  background-image: url(../images/ftr.png);
}

.card #hiking {
  background-image: url(../images/hikingGuide.png);
}

.card #media {
  background-image: url(../images/mediaOutput.png);
}

.card #agt {
  background-image: url(../images/agtWinners.png);
}

.card .headline {
  color: #848484;
}

.card .cardInfo {
  line-height: 25px;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.whatContainer {
  text-align: center;
  background: #f0f0f0;
  padding: 0 5%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 22px;
}

.skills .list {
  padding-bottom: 90px;
}

.skills .list h3 {
  text-align: center;
}

.skills .list ul {
  list-style-type: none;
  text-align: center;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.contact {
  height: 275px;
  width: 100%;
  background: #383838;
  margin-top: 50px;
  text-align: center;
}

.contact h1 {
  color: white;
  padding-top: 50px;
}

.contact p {
  color: #848484;
}

.contact a {
  text-decoration: none;
  color: #14a098;
}

.contact .icon {
  color: white;
  font-size: 4.5rem;
  margin: 20px 20px;
}

.contact .github:hover {
  color: black;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact .linkedin:hover {
  color: #0073b0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact .mail {
  font-size: 4.5rem;
}

.contact .mail:hover {
  color: #dc4d41;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  display: inline-block;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.footer {
  height: 80px;
  width: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: white;
}

.footer span {
  color: #848484;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */