/*********** JUMBOTRON ***********/
.jumboContainer {
  height: 65vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(104, 131, 158, 0.5)), to(rgba(104, 131, 158, 0.8))), url(../images/code.jpg);
  background: linear-gradient(to right bottom, rgba(104, 131, 158, 0.5), rgba(104, 131, 158, 0.8)), url(../images/code.jpg);
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.name {
  white-space: nowrap;
  font-size: 3rem;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.sub {
  line-height: 25px;
  white-space: nowrap;
  text-align: center;
  color: white;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .jumboContainer {
    height: 100vh;
  }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) {
  .jumboContainer {
    height: 50vh;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) {
  .jumboContainer {
    height: 60vh;
  }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 1024px) {
  .jumboContainer {
    height: 80vh;
  }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
/************ ABOUT ************/
.aboutContainer {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 80vh;
  padding: 0 5%;
}

.btn {
  max-width: 200px;
  height: 50px;
  font-size: 1rem;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.headings {
  font-size: 2rem;
  color: #848484;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.underline {
  margin-top: -40px;
  margin-bottom: 25px;
  width: 75px;
  border-color: #698fb7;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  color: #888;
  font-size: 1rem;
  margin-bottom: 50px;
  margin: 0 auto;
  text-align: left;
  line-height: 25px;
  max-width: 800px;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) {
  .aboutContainer {
    height: 50vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.project .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5%;
}

.project .card {
  color: blue;
  width: 400px;
  height: 400px;
  margin: 10px .5%;
  position: relative;
  background: lightgreen;
}

.project .card img {
  height: 200px;
  width: 200px;
  position: absolute;
}

.project .card .cardSub {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.project #jayBoyce {
  background-image: url(../images/code.jpg);
  background-size: cover;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
.whatContainer {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  padding: 0 5%;
}

/************ MEDIA QUERIES ************/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    */
@media (min-width: 481px) {
  .whatContainer {
    height: 50vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    */
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    */
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
}
/*# sourceMappingURL=styles.css.map */